<section id="partieCV">

  <div class="titrebarre">
    <p class="titre"><span>accueil</span></p>
  </div>

  <div class="soustitrebarre">
    <p class="soustitre">informations</p>
  </div>

  <div class="informations">
    <div class="infos">
      <p class="puce"><i class="fas fa-birthday-cake"></i>23 ans</p>
      <p class="puce"><i class="fas fa-mobile-alt"></i>06.74.60.72.25</p>
      <p class="puce"><i class="fas fa-envelope"></i>quentin.morizot@outlook.fr</p>
    </div>

    <div class="infos">
      <p class="puce"><i class="fas fa-map-pin"></i>Metz - Grand Est, France</p>
      <p class="puce"><a href="https://www.linkedin.com/in/quentin-morizot/"><i class="fab fa-linkedin-in"></i>Linkedin</a></p>
      <p class="puce"><a href="https://github.com/quentinmrzt"><i class="fab fa-github"></i>Github</a></p>
    </div>
  </div>

  <partie-cv></partie-cv>

  <partie-competences></partie-competences>

</section>
