.puce {
  font-size: 22px;
  list-style-type: space-counter;
  /*margin-left: 10px;*/
  margin-top: 10px;
}

.soustitrebarre {
  width: 100%;
  border-bottom: 1px solid #97a38d;
}

.soustitrebarre .soustitre {
  width: 100%;
  color: #97a38d;
}
