<section class="row">
  <div class="col-lg-12">
    <div id="partieCV">

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="titrebarre">
                <p class="titre"><span>accueil</span></p>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <div class="titrebarre">
                <p class="titre"><span>informations</span></p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 infos">
              <div class="row">
                <div class="col-lg-12">
                  <p class="puce"> <span class="fa fa-birthday-cake"></span> 23 ans</p>
                </div>
                <div class="col-lg-12">
                  <p class="puce"> <span class="fa fa-phone"></span> 06.74.60.72.25</p>
                </div>
                <div class="col-lg-12">
                  <p class="puce"> <span class="fa fa-envelope"></span> quentin.morizot@outlook.fr</p>
                </div>
              </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg-4 infos">
              <div class="row">
                <div class="col-lg-12">
                  <p class="puce"> <span class="fa fa-map-pin"></span> Metz - Grand Est, France</p>
                </div>
                <div class="col-lg-12">
                  <p class="puce"><a href="https://www.linkedin.com/in/quentin-morizot/"><span class="fa fa-linkedin-square"></span> Linkedin</a></p>
                </div>
                <div class="col-lg-12">
                  <p class="puce"><a href="https://github.com/quentinmrzt"><span class="fa fa-github"></span> Github</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <partie-cv></partie-cv>
    </div>
  </div>
</section>
