.section_contenu {
  display: flex;
  flex-wrap: wrap;
}

.boite_competence {
  box-sizing: border-box;
}

.detail {
  padding: 5px 0 5px 0;
}

/* doit être à gauche */
.section_contenu .boite_competence:nth-of-type(odd) {
  /*border: 1px solid black;
  background: AquaMarine;*/
}

/* doit être à droite */
.section_contenu .boite_competence:nth-of-type(even) {
  /*border: 1px solid black;
  background: lightsteelblue;*/
}


/* FORMAT MOBILE */
@media (max-width: 768px) {
  .boite_competence {
    width: 100%;
  }
}

/* FORMAT ORDINATEUR */
@media (min-width: 768px) {
  .boite_competence {
    width: 50%;
  }
}
