<div *ngFor="let partie of parties" class="contenusection">
  <div class="section">

    <a routerLink="/{{ partie.titre }}" style="text-decoration:none">
      <div class="soustitrebarre">
        <p class="soustitre">{{ partie.titre }}</p>
      </div>
    </a>

    <div *ngFor="let section of partie.sections" class="section_contenu">

      <div class="boite_titre_date">
        <div class="boite_titre">
          <p class="titre">{{ section.titre }}</p>
        </div>
        <div class="boite_date">
          <p class="date">{{ section.date }}</p>
        </div>
      </div>

      <div *ngIf="section.lieu!=''" class="boite_lieu">
        <p class="lieu texteAvecEspace">{{ section.lieu }}</p>
      </div>

      <div *ngIf="section.resume!=''" class="boite_detail">
        <p class="detail">{{ section.resume }}</p>
      </div>
    </div>

  </div>
</div>
