<div class="contenusection">
  <div class="section">

      <div class="soustitrebarre">
        <p class="soustitre">compétences</p>
      </div>

    <div class="section_contenu">
      <div *ngFor="let competence of competences" class="boite_competence">
        <div class="titre_competence">
          <p class="titre">{{ competence.titre }}</p>
        </div>

        <div class="detail_competence">
          <p class="detail">{{ competence.resume }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
