/* Partie section */
.section {
  margin: 10px;
}

.nomsection {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.contenusection {
  /*margin-left: 10px;*/
  /*background-color: green;*/
}

.puce {
  font-size: 22px;
  list-style-type: space-counter;
  /*margin-left: 10px;*/
  /*margin-top: 10px;*/
}

.date {
  font-size: 22px;
  text-align: right;
}

.lieu {
  font-size: 16px;
}

.detail {
  font-size: 18px;
  text-align: justify;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

.soustitrebarre {
  width: 100%;
  border-bottom: 1px solid #899787;
}

.soustitrebarre .soustitre {
  width: 100%;
  color: #899787;

}
