<div *ngFor="let partie of parties" class="contenusection">
  <div class="row">
    <div class="col-lg-12">
      <div class="section">

        <div class="row">
          <div class="col-lg-12">
            <div class="titrebarre">
              <p class="titre"><span>{{ partie.titre }}</span></p>
            </div>
          </div>
        </div>

        <div *ngFor="let section of partie.sections" class="row">
          <div class="col-lg-offset-1 col-lg-10">

            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-9">
                    <p class="puce">{{ section.titre }}</p>
                  </div>
                  <div class="col-lg-3">
                    <p class="date">{{ section.date }}</p>
                  </div>
                </div>
                <div *ngIf="section.lieu!=''" class="row">
                  <div class="col-lg-12">
                    <p class="lieu texteAvecEspace">{{ section.lieu }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="section.resume!=''" class="row">
              <div class="col-lg-12">
                <p class="detail">{{ section.resume }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
