.section_formations { }

.division_chronologie {
  position: relative;
  margin-bottom: 15px;
}

.chronologie {
  position: relative;
  width: 100%;
  /* taille ligne qui dépasse */
  padding-top: 15px;
  padding-bottom: 15px;
}

.bloc_section {
  width: 100%;
}

.bloc_date {
  font-size: 16px;
  background-color: white;
  position: relative;
  padding: 15px 0px 15px 0px;
}

.bloc_informations {
  display: flex;
  flex-direction: row;
}

.texte {
  width: 50%;
  /* pour que le padding rentre dans le width */
  box-sizing: border-box;
  padding: 0 20px 0 20px;
}

.image {
  width: 50%;
  display: flex;
  align-items: center;
  /* pour que le padding rentre dans le width */
  box-sizing: border-box;
  padding: 0 20px 0 20px;
}

.section_titre {
  font-size: 20px;
  text-transform: uppercase;
}

.section_lieu {
  font-size: 16px;
}

.section_description {
  font-size: 12;
  padding-top: 5px; /* espace de separation avec le titre/lieu */
}

// Partie mobile: doit être inférieur à 768px
@media (max-width: 768px) {
  .texte {
    margin-left: 5%;
    width: 100%;
  }

  .image {
    display: none;
  }

  /* Calque transparent pour la ligne verticale */
  .chronologie::before {
    content: "";
    background-color: #DBC195;
    width: 2px;

    position: absolute;
    top:0;
    bottom:0;
    left:35px;
    right:0;
  }

  .bloc_date {
    text-align: left;
  }

  /* Calque transparent pour la petite ligne verticale */
  .bloc_date::before {
    content: "";
    width: 10px;
    border-bottom: 2px solid #DBC195;
    border-top: 2px solid #DBC195;

    position: absolute;
    top:0;
    bottom:0;
    left:31px;
    right:0;
  }
}

// Partie tablette: doit être supérieur à 768px
@media (min-width: 768px) {
  /* Calque transparent pour la ligne verticale */
  .chronologie::before {
    content: "";
    background-color: #DBC195;
    width: 2px;

    position: absolute;
    top:0%;
    bottom:0;
    left:50%;
    right:0;
  }

  /* Calque transparent pour la petite ligne verticale */
  .bloc_date::before {
    content: "";
    width: 10px;
    margin-left: -4px;
    border-bottom: 2px solid #DBC195;
    border-top: 2px solid #DBC195;

    position: absolute;
    top:0;
    bottom:0;
    left:50%;
    right:0;
  }

  /* doit être à gauche */
  .chronologie > .bloc_section:nth-child(odd) .texte {
    text-align: right;
    order: 1;
  }

  /* doit être à droite */
  .chronologie > .bloc_section:nth-child(odd) .image {
    justify-content: flex-start;
    order: 2;
  }

  /* doit être à droite */
  .chronologie > .bloc_section:nth-child(even) .texte {
    text-align: left;
    //margin-left: 50%;
    order: 2;
  }

  /* doit être à gauche */
  .chronologie > .bloc_section:nth-child(even) .image {
    justify-content: flex-end;
    order: 1;
  }

  .texte {
    width: 50%;
  }

  .bloc_date {
    text-align: center;
  }

  img {
    height: 80px;
  }
}

// Partie ordinateur portable: doit être supérieur à 992px
@media (min-width: 992px) {
    img {
      height: 100px;
    }
}

// Partie ordinateur fixe: doit être supérieur à 1200px
@media (min-width: 1200px) {
    img {
      height: 120px;
    }
}
