<section id="section_formations">

  <div class="titrebarre">
    <p class="titre"><span>Formations</span></p>
  </div>

  <div class="division_chronologie">
    <div class="chronologie">

      <div *ngFor="let section of sections" class="bloc_section">
        <div class="bloc_date">
          <p class="texteAvecEspace">{{ section.date }}</p>
        </div>

        <div class="bloc_informations">
          <div class="texte">
            <p class="section_titre">{{ section.titre }}</p>
            <p class="section_lieu texteAvecEspace">{{ section.lieu }}</p>
            <p class="section_description">{{ section.detail }}</p>
          </div>
          <div class="image">
            <img src="assets/images/formation/{{section.titre}}.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
