<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <h2>Projets</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Pac-Man</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/pacman.png">
              <div class="col-xs-12 col-sm-8">
                <p>Ce projet a été proposé dans le cadre de l'UE d'Initiation à la recherche en M1 Informatique au sein de l'UFR MIM de Metz.<br /><br />
                  Cette matière permet de mettre un premier pas dans le monde de la recherche et consiste à:</p>
                  <ul>
                    <li>une recherche bibliographiques sur la programmation génétique;</li>
                    <li>le développement d'une interface graphique du jeu Pac-Man;</li>
                    <li>le développement d'un prototype d'intelligence artificielle par programmation génétique.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Trim-Me</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/trime.png">
              <p class="col-xs-12 col-sm-8">
                Logiciel permettant de diminuer la taille d'une image de maniere plus intelligente qu'une simple suppresion de colonne. Il se chargera de determiner la valeur de chaque pixel selon ses voisins et, a l'aide d'un graphe realiser a
                partir de celle-ci, trouvera un chemin de cout minimum permettant d'impacter le moins possible l'image.<br /><br />

                Ce programme personnel est la suite d'un projet realise en L3 au sein de la Faculte des Sciences et Technologies de Nancy.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Darlizot</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/darlizot.png">
              <p class="col-xs-12 col-sm-8">
                Ce projet a été proposé dans le cadre de l'UE "Programmation avancée" en L2 Informatique au sein de Faculté des Sciences et Technologies de Nancy.<br /><br />
                Le but de celui-ci était la conception d'un jeu vidéo en total liberté, il devait simplement être codé en C avec la librairie SDL. Nous avons donc choisi de réaliser un jeu de plate-fome 2D beat 'em up , très simple, reprenant les
                sprite de Mega Man.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
