<section class="row" id="projets">
  <div class="col-lg-12">

    <!-- TITRE -->
    <div class="row">
      <div class="col-lg-12">
        <div class="titrebarre">
          <p class="titre"><span>Projets</span></p>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row">
      <div class="col-lg-12">

        <!-- SITE PERSO -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">CV en ligne</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/projet/cvEnLigne.png">
              <div class="col-xs-12 col-sm-8">
                <p>CV sous forme de site internet pour apprendre et mettre en pratique plusieurs technologies du web: HTML / CSS / Javascript / Angular.<br /><br />
                  Plusieurs fonctionnalitées ont étés intégrées dans le site comme exercice personnel:</p>
                <ul>
                  <li>Le changemement de la photo de couverture selon l'heure de la journée;</li>
                  <li>La variation de la couleur "jaumont" pour certain élément du site par rapport à la photo de couverture.</li>
                </ul>
                <p>Plus d'explications sont disponibles ici: "<a routerLink="/projet/photosDeCouverture">Photos de couverture</a>".</p>
              </div>
            </div>
          </div>
        </div>

        <!-- PAC-MAN -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Pac-Man</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/projet/pacman.png">
              <div class="col-xs-12 col-sm-8">
                <p>Ce projet a été proposé dans le cadre de l'UE d'Initiation à la recherche en M1 Informatique au sein de l'UFR MIM de Metz.<br /><br />
                  Cette matière permet de mettre un premier pas dans le monde de la recherche et consiste à:</p>
                <ul>
                  <li>une recherche bibliographiques sur la programmation génétique;</li>
                  <li>le développement d'une interface graphique du jeu Pac-Man;</li>
                  <li>le développement d'un prototype d'intelligence artificielle par programmation génétique.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- TRIM-ME -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Trim-Me</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/projet/trime.png">
              <p class="col-xs-12 col-sm-8">
                Logiciel permettant de diminuer la taille d'une image de maniere plus intelligente qu'une simple suppresion de colonne. Il se chargera de determiner la valeur de chaque pixel selon ses voisins et, a l'aide d'un graphe realiser a
                partir de celle-ci, trouvera un chemin de cout minimum permettant d'impacter le moins possible l'image.<br /><br />

                Ce programme personnel est la suite d'un projet realise en L3 au sein de la Faculte des Sciences et Technologies de Nancy.
              </p>
            </div>
          </div>
        </div>

        <!-- DARLIZOT -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Darlizot</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <img class="col-xs-12 col-sm-4" src="images/projet/darlizot.png">
              <p class="col-xs-12 col-sm-8">
                Ce projet a été proposé dans le cadre de l'UE "Programmation avancée" en L2 Informatique au sein de Faculté des Sciences et Technologies de Nancy.<br /><br />
                Le but de celui-ci était la conception d'un jeu vidéo en total liberté, il devait simplement être codé en C avec la librairie SDL. Nous avons donc choisi de réaliser un jeu de plate-fome 2D beat 'em up , très simple, reprenant
                les
                sprite de Mega Man.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
