<header>
  <div id="couverture">

    <!-- MENU -->
    <nav class="texteAvecEspace">
      <button class="menu texteMenu">MENU</button >

      <div class="sous_menu">
        <a routerLink="/accueil" class="texteMenu">accueil</a>
        <a routerLink="/formations" class="texteMenu">Formations</a>
        <a routerLink="/experiences" class="texteMenu">Expériences</a>
        <a routerLink="/projets" class="texteMenu">Projets</a>
      </div>
    </nav>

    <!-- PHOTO DE COUVERTURE -->
    <!--<a routerLink="/projet/photosDeCouverture">-->
    <img couverture id="couverture_photo" src="assets/images/couverture/12h31.png" couleurBorderJaumont />
    <!--</a>-->

    <!-- TEXTE -->
    <div class="test" id="couverture_presentation">
      <!-- PHOTO DE PROFILE -->
      <div id="partie_photo">
        <img id="photo_profile" src="assets/images/profile/photo.png" alt="Photo de profile" couleurBorderJaumont />
      </div>

      <!-- NOM ET TITRE -->
      <div id="partie_texte">
        <div id="ligne_nom_bouton">
          <div id="nom">
            <p class="jaumont">quentin morizot</p>
          </div>
          <div id="bouton">
            <button type="button" class="btn" onclick="location.href='assets/documents/CV_Quentin_Morizot.pdf'">CV</button>
          </div>
        </div>

        <div id="ligne_etude">
          <p class="jaumont">étudiant en master génie informatique à metz</p>
        </div>

        <div id="ligne_description">
          <p class="">Actuellement étudiant en alternance au sein de l'équipe Contrat chez Efluid SAS où je réalise de la correction de bug, du refactoring, de la mise en place de tests unitaires et des ajouts de nouvelles fonctionnalités.</p>
        </div>
      </div>
    </div>

  </div>
</header>

<!--<router-outlet></router-outlet>-->
<div class="test">
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
