// --------------------------------------------------
// GÉNÉRAL
.section_contenu {
  margin: 0 10%;
  padding: 5px 0;
}

// --------------------------------------------------
// INFORMATIONS
.informations {
  display: flex;
  flex-wrap: wrap;
}

.puce {
  font-size: 22px;
  list-style-type: space-counter;
  margin-top: 10px;
}

.colonneinfos {
  box-sizing: border-box;
}

i {
  width: 30px;
  margin-right: 5px;
  text-align: center;
}

/* FORMAT MOBILE */
@media (max-width: 768px) {
  .colonneinfos {
    width: 100%;
  }
}

/* FORMAT ORDINATEUR */
@media (min-width: 768px) {
  .colonneinfos {
    width: 50%;
  }
}

// --------------------------------------------------
// PROJETS & FORMATIONS & EXPERIENCES
.section {
  margin: 10px 0;
}

.nomsection {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.contenusection {
  /*margin-left: 10px;*/
  /*background-color: green;*/
}

.lieu {
  font-size: 16px;
}

// ZONE TITRE ET DATE
.boite_titre_et_date {
  display: flex;
}

.titre, .date {
  font-size: 22px;
}

/* FORMAT MOBILE */
@media (max-width: 768px) {
  .boite_titre_et_date {
    display: block;
  }

  .boite_titre, .boite_date {
    width: 100%;
  }

  .date {
    text-align: left;
  }
}

/* FORMAT ORDINATEUR */
@media (min-width: 768px) {
  .boite_titre_et_date {
    display: flex;
  }

  .boite_titre {
    width: 70%;
  }

  .boite_date {
    width: 30%;
  }

  .date {
    text-align: right;
  }
}

// --------------------------------------------------
// COMPÉTENCES
.section_contenu_competences {
  display: flex;
  flex-wrap: wrap;
}

.boite_competences {
  box-sizing: border-box;
}

.boite_detail {
  //padding: 5px 0;
}

.detail {
  font-size: 18px;
  text-align: justify;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 5px;
}

/* FORMAT MOBILE */
@media (max-width: 768px) {
  .boite_competences {
    width: 100%;
  }
}
/* FORMAT ORDINATEUR */
@media (min-width: 768px) {
  .boite_competences {
    width: 50%;
  }
}
