#section_competences {
  height: 1000px;
}

.soustitrebarre {
  width: 100%;
  border-bottom: 1px solid #97a38d;
}

.soustitrebarre .soustitre {
  width: 100%;
  color: #97a38d;
}


.dev-icons {
  font-size: 4rem;
}

.dev-icons .list-inline-item i:hover {
  color: #97a38d;
}
