<div class="chronologie">

  <div *ngFor="let formation of formations; let i = index" class="testputain">

    <!-- Formation -->
    <div class="chronologie_formation">
      <div class="chronologie_formation_date">
        <p class="texteAvecEspace">{{ formation.date }}</p>
      </div>

      <div class="chronologie_formation_informations">
        <div class="chronologie_formation_texte">
            <p class="chronologie_formation_texte_titre">{{ formation.titre }}</p>
            <p class="chronologie_formation_texte_lieu texteAvecEspace">{{ formation.lieu }}</p>
            <p class="chronologie_formation_texte_description">{{ formation.detail }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
