<section class="row" id="section_formations">
  <div class="col-lg-12">

    <!-- TITRE -->
    <div class="row">
      <div class="col-lg-12">
        <div class="titrebarre">
          <p class="titre"><span>Formations</span></p>
        </div>
      </div>
    </div>

    <!-- CHRONOLOGIE -->
    <div class="row">
      <div class="col-lg-12">

        <div class="chronologie">

          <!-- LYCEE -->
          <div class="chronologie_formation">
            <div class="chronologie_formation_texte">
              <div class="chronologie_formation_texte_carre">
                <p class="chronologie_formation_texte_carre_titre">Baccalauréat Scientifique</p>
                <p class="chronologie_formation_texte_carre_lieu texteAvecEspace">Lycée Jean baptiste vuillaume, Mirecourt</p>
                <p class="chronologie_formation_texte_carre_description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus metus, pretium dapibus dapibus a, ultrices in libero. Donec eu congue lacus. Morbi mollis enim cursus erat suscipit elementum. In at pulvinar risus. In placerat mi
                  in dui blandit egestas. In id est rhoncus, tincidunt sapien id, eleifend dui. Donec ac tellus est. Sed vestibulum, felis eget volutpat dictum, felis massa facilisis quam, ut tempor eros ante sed diam. Mauris feugiat pharetra mi.
                  Maecenas metus odio, facilisis in neque in, tempus blandit erat.
                </p>
              </div>
              <div class="chronologie_formation_texte_ligne">
                <p>2013</p>
              </div>
            </div>
            <div class="chronologie_formation_image">

            </div>
          </div>

          <!-- BIOLOGIE -->
          <div class="chronologie_formation">
            <div class="chronologie_formation_image">

            </div>
            <div class="chronologie_formation_texte">
              <div class="chronologie_formation_texte_ligne">
                <p>2013 - 2014</p>
              </div>
              <div class="chronologie_formation_texte_carre">
                <p class="chronologie_formation_texte_carre_titre">Première Année En Biologie</p>
                <p class="chronologie_formation_texte_carre_lieu texteAvecEspace">Faculté des Sciences, Nancy</p>
                <p class="chronologie_formation_texte_carre_description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus metus, pretium dapibus dapibus a, ultrices in libero. Donec eu congue lacus. Morbi mollis enim cursus erat suscipit elementum. In at pulvinar risus. In placerat mi
                  in dui blandit egestas. In id est rhoncus, tincidunt sapien id, eleifend dui. Donec ac tellus est. Sed vestibulum, felis eget volutpat dictum, felis massa facilisis quam, ut tempor eros ante sed diam. Mauris feugiat pharetra mi.
                  Maecenas metus odio, facilisis in neque in, tempus blandit erat.
                </p>
              </div>
            </div>
          </div>

          <!-- LICENCE INFORMATIQUE -->
          <div class="chronologie_formation">
            <div class="chronologie_formation_texte">
              <div class="chronologie_formation_texte_carre">
                <p class="chronologie_formation_texte_carre_titre">Licence en Informatique</p>
                <p class="chronologie_formation_texte_carre_lieu texteAvecEspace">Faculté des Sciences, Nancy</p>
                <p class="chronologie_formation_texte_carre_description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus metus, pretium dapibus dapibus a, ultrices in libero. Donec eu congue lacus. Morbi mollis enim cursus erat suscipit elementum. In at pulvinar risus. In placerat mi
                  in dui blandit egestas. In id est rhoncus, tincidunt sapien id, eleifend dui. Donec ac tellus est. Sed vestibulum, felis eget volutpat dictum, felis massa facilisis quam, ut tempor eros ante sed diam. Mauris feugiat pharetra mi.
                  Maecenas metus odio, facilisis in neque in, tempus blandit erat.
                </p>
              </div>
              <div class="chronologie_formation_texte_ligne">
                <p>2014 - 2017</p>
              </div>
            </div>
            <div class="chronologie_formation_image">

            </div>
          </div>

          <!-- MASTER INFORMATIQUE -->
          <div class="chronologie_formation">
            <div class="chronologie_formation_image">

            </div>
            <div class="chronologie_formation_texte">
              <div class="chronologie_formation_texte_ligne">
                <p>2017 - 2019</p>
              </div>
              <div class="chronologie_formation_texte_carre">
                <p class="chronologie_formation_texte_carre_titre">Master En Génie Informatique</p>
                <p class="chronologie_formation_texte_carre_lieu texteAvecEspace">UFR MIM, Metz</p>
                <p class="chronologie_formation_texte_carre_description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus metus, pretium dapibus dapibus a, ultrices in libero. Donec eu congue lacus. Morbi mollis enim cursus erat suscipit elementum. In at pulvinar risus. In placerat mi
                  in dui blandit egestas. In id est rhoncus, tincidunt sapien id, eleifend dui. Donec ac tellus est. Sed vestibulum, felis eget volutpat dictum, felis massa facilisis quam, ut tempor eros ante sed diam. Mauris feugiat pharetra mi.
                  Maecenas metus odio, facilisis in neque in, tempus blandit erat.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
