<section class="row" id="section_formations">
  <div class="col-lg-12">

    <!-- TITRE -->
    <div class="row">
      <div class="col-lg-12">
        <div class="titrebarre">
          <p class="titre"><span>Formations</span></p>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row">
    <!--  <div class="col-lg-2"></div>-->

      <div class="col-lg-12">

          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline">
                <div class="timeline">
                  <div class="timeline-content">
                    <div class="circle"><span><i class="fa fa-graduation-cap"></i></span></div>
                    <div class="content">
                      <span class="year">2013</span>
                      <h4 class="title">Bac Scientifique</h4>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non lectus justo. Nam ultricies laoreet massa sed maximus. Curabitur tristique sagittis scelerisque. Vivamus posuere nisi quis tortor interdum, in finibus risus
                        convallis. Suspendisse efficitur lacus a nulla commodo, sit amet vestibulum nibh.
                      </p>
                      <div class="icon"><span></span></div>
                    </div>
                  </div>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                    <div class="circle"><span><i class="fa fa-leaf"></i></span></div>
                    <div class="content">
                      <span class="year">2013 - 2014</span>
                      <h4 class="title">Première année en Biologie</h4>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non lectus justo. Nam ultricies laoreet massa sed maximus. Curabitur tristique sagittis scelerisque. Vivamus posuere nisi quis tortor interdum, in finibus risus
                        convallis. Suspendisse efficitur lacus a nulla commodo, sit amet vestibulum nibh.
                      </p>
                      <div class="icon"><span></span></div>
                    </div>
                  </div>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                    <div class="circle"><span><i class="fa fa-laptop"></i></span></div>
                    <div class="content">
                      <span class="year">2014 - 2017</span>
                      <h4 class="title">Licence en Informatique</h4>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non lectus justo. Nam ultricies laoreet massa sed maximus. Curabitur tristique sagittis scelerisque. Vivamus posuere nisi quis tortor interdum, in finibus risus
                        convallis. Suspendisse efficitur lacus a nulla commodo, sit amet vestibulum nibh.
                      </p>
                      <div class="icon"><span></span></div>
                    </div>
                  </div>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                    <div class="circle"><span><i class="fa fa-desktop"></i></span></div>
                    <div class="content">
                      <span class="year">2017 - 2019</span>
                      <h4 class="title">Master en Informatique</h4>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non lectus justo. Nam ultricies laoreet massa sed maximus. Curabitur tristique sagittis scelerisque. Vivamus posuere nisi quis tortor interdum, in finibus risus
                        convallis. Suspendisse efficitur lacus a nulla commodo, sit amet vestibulum nibh.
                      </p>
                      <div class="icon"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>

  </div>
</section>
