#section_formations {
  padding-bottom: 15px;
}

.chronologie {
  position: relative
  width: 100%;
  /* taille ligne qui dépasse */
  padding-top: 15px;
  padding-bottom: 15px;
}

.chronologie_formation {
  width: 100%;
}

.chronologie_formation_date {
  font-size: 16px;
  background-color: white;
  position: relative;
  padding: 15px 0px 15px 0px;
}

.chronologie_formation_informations {
  display: flex;
  flex-direction: row;
}

.chronologie_formation_texte {
  width: 50%;
  padding: 0px 20px 0px 20px;
}

.chronologie_formation_texte_titre {
  font-size: 20px;
  text-transform: uppercase;
}

.chronologie_formation_texte_lieu {
  font-size: 16px;
}

.chronologie_formation_texte_description {
  font-size: 12;
  padding-top: 5px; /* espace de separation avec le titre/lieu */
}

@media (max-width: 768px) {
  .chronologie_formation_texte {
    margin-left: 5%;
  }

  /* Calque transparent pour la ligne verticale */
  .chronologie::before {
    content: "";
    background-color: #DBC195;
    width: 2px;

    position: absolute;
    top:0;
    bottom:0;
    left:35px;
    right:0;
  }

  /* Calque transparent pour la petite ligne verticale */
  .chronologie_formation_date::before {
    content: "";
    width: 10px;
    border-bottom: 2px solid #DBC195;
    border-top: 2px solid #DBC195;

    position: absolute;
    top:0;
    bottom:0;
    left:16px;
    right:0;
  }

  .chronologie_formation_texte {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Calque transparent pour la ligne verticale */
  .chronologie::before {
    content: "";
    background-color: #DBC195;
    width: 2px;

    position: absolute;
    top:0;
    bottom:0;
    left:50%;
    right:0;
  }

  /* Calque transparent pour la petite ligne verticale */
  .chronologie_formation_date::before {
    content: "";
    width: 10px;
    margin-left: -4px;
    border-bottom: 2px solid #DBC195;
    border-top: 2px solid #DBC195;

    position: absolute;
    top:0;
    bottom:0;
    left:50%;
    right:0;
  }

  /* doit être à gauche */
  .chronologie > .testputain:nth-child(odd) .chronologie_formation_texte {
    text-align: right;
  }

  /* doit être à droite */
  .chronologie > .testputain:nth-child(even) .chronologie_formation_texte {
    text-align: left;
    margin-left: 50%;
  }

  .chronologie_formation_texte {
    width: 50%;
  }

  .chronologie_formation_date {
    text-align: center;
  }

}
