/* provisoire: pour le moment les pages sont vides */
#section_formations {
}

.chronologie {
  margin: 10px;
  position: relative
  width: 100%;
}

/* Calque transparent pour la ligne verticale */
.chronologie::before {
  content: "";
  border-left: 2px solid #DBC195;
  position: absolute;
  top:0;
  bottom:0;
  left:50%;
  right:0;
  margin-bottom: 10px;
}

.chronologie_formation {
  width: 100%;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
}


.chronologie_formation_texte {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.chronologie_formation_texte_ligne {
  font-size: 20px;
  text-align: center;

  position: relative;
  flex: 1;
}

/* Calque transparent pour la ligne horizontale */
.chronologie_formation_texte_ligne::before {
  content: "";
  border-top: 2px solid #DBC195;
  position: absolute;
  top: 12%;
  bottom: 0;
  left: 0;
  right: 0;
}


.chronologie_formation_texte_carre {
  border: 2px solid #DBC195;
  width: 70%;
  padding: 5px;
}

.chronologie_formation_texte_carre_titre {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.chronologie_formation_texte_carre_lieu {
  font-size: 14px;
  text-align: center;
}

.chronologie_formation_texte_carre_description {
  font-size: 12;
  text-align: justify;
  padding-top: 5px;

}

.chronologie_formation_image {
  width: 50%;
  height: 100%;
}
