#photocouverture {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-bottom: 3px solid #DBC195;
}

#textecouverture {
  /*border-left: 3px solid #DBC195;
  border-right: 3px solid #DBC195;*/
  width: 100%;
}
nav {
  font-size: 16px;
}

nav a:hover {
  text-decoration: none;
  color: white;
  /*background-color: #DBC195;*/
  background-color: #899787;
}

nav a {
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  color: #899787;
}

#presentation {
  display: flex;
  align-items: center;
}

button {
  background-color: #DBC195;
  /*background-color: #899787;*/
  color: white;
}

#boutoncv {
  display: flex;
  justify-content: flex-end;
}

header {
  background: white;
  padding: 0px;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  margin-bottom: 5px;
}
