body {
  background-color: #F2F2F2;
}

p {
  margin: 0px;
}

a {
  color: black;
}

section {
  margin-top: 5px;
  background-color: white;
}

h1, h2, h3, h4 {
  margin: 2px;
  text-transform: uppercase;
}

/*  TITRE BARRE */
.titre {
  text-transform: uppercase;
  font-size: 22px;
}

.titrebarre {
  /*padding: 1px 10px 1px 10px;*/
  background: white;
}

.titrebarre .titre {
  padding: 0;
  margin: 0 0 1em 0;
  border-bottom: 2px solid #DBC195;
  /* le trait */
  color: #DBC195;
  text-align: center;
}

.titrebarre .titre span {
  padding: 0 10px;
  /* espace autour du nom*/
  position: relative;
  /* on sort du flux */
  top: 13px;
  /* position par rapport au h1 */
  background: white;
}

/* SECTION FORMATAGE DE TEXTE */
.texteAvecEspace {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

.jaumont {
  color: #DBC195;
}
