body {
  background-color: #F2F2F2;
  /*background-color: #5c83c1;
  background-color: #080811;
  background-color: #090d11;*/
}

#photocouverture {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-bottom: 4px solid #DBC195;
}

p {
  margin: 0px;
}

a {
  color: black;
}

button {
  background-color: #DBC195;
  /*background-color: #879483;*/
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #DBC195;
}

nav a {
  text-decoration: none;
  padding: 2px 10px 2px 10px;
}

#presentation {
  display: flex;
  align-items: center;
}

#boutoncv {
  display: flex;
  justify-content: flex-end;
}

header {
  background: white;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  margin-bottom: 5px;
}

section {
  margin-top: 5px;
  height: 1800px;
  background-color: white;
}

#photoprofile {
  text-align: center;
}

#photo {
  width: 90%;
  margin-top: -50%;
  border-radius: 100%;
  border: 4px solid #DBC195;
}

#nom {
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 2px;
  text-transform: uppercase;
}

/* Partie section */
.section {
  margin: 10px;
  /*background-color: red;*/
}

.nomsection {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.contenusection {
  /*margin-left: 10px;*/
  /*background-color: green;*/
}

.puce {
  font-size: 22px;
  list-style-type: space-counter;
  /*margin-left: 10px;*/
  margin-top: 10px;
}

.date {
  font-size: 22px;
  text-align: right;
}

.detail {
  font-size: 18px;
  text-align: justify;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

/* SECTION FORMATAGE DE TEXTE */
.espace {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

.fa {
  font-size: 20px;
  width: 30px;
  text-align: center;
}

.jaumont {
  color: #DBC195;
}

/*  TITRE BARRE */
.titre {
  text-transform: uppercase;
  font-size: 22px;
}

.titrebarre {
  padding: 1px 10px 1px 10px;
  background: white;
}

.titrebarre .titre {
  padding: 0;
  margin: 0 0 1em 0;
  border-bottom: 2px solid #DBC195;
  /* le trait */
  color: #DBC195;
  text-align: center;
}

.titrebarre .titre span {
  padding: 0 10px; /* espace autour du nom*/
  position: relative; /* on sort du flux */
  top: 13px; /* position par rapport au h1 */
  background: white;
}
