<section id="projetPhotosDeCouverture">

  <!-- TITRE -->
  <div class="titrebarre">
    <p class="titre"><span>Photos de couverture</span></p>
  </div>

  <!-- DESCRIPTION -->
  <div id="projetPhotosDeCouverture_description">
    <div class="description_ligne_boite_texte">

      <div class="testCadre_boite">
        <div id="testCadre">
          <div id="cadranCadre">
            <div id="cadranGlobal">
              <div class="cadranHeures" id="minuit">00h00</div>
              <div class="cadranHeures" id="midi">12h00</div>

              <!-- heures affichés selon le levé/couché du soleil -->
              <div class="cadranHeures" id="heureJour" projetCadran="jour">{{heureJour}}</div>
              <div class="cadranHeures" id="heureJour" projetCadran="nuit">{{heureNuit}}</div>

              <div class="cadranHeures" id="cadranCadreJourNuit">
                <span id="cadranJourNuit"></span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="boite_texte">
        <p>
          J'ai choisi comme couverture de mon site la cathédrale Saint-Etienne de Metz. Des photos ont étés prises sur plusieurs journées et à différentes heures pour essayer de couvrir toutes les teintes qu'elle peut prendre au file de la
          journée.
          <br />
          Le but de mon projet était: lorsque quelqu'un se connecte sur mon site, la photo de couverture s'adapte à l'heure de celui-ci. <br />
          Cela pose plusieurs contraintes:
        </p>
        <ul>
          <li>Réaliser un "timelapse" de la cathédrale: avoir des photos sur 24h, avec le même angle et le même temps (beau de préférence);</li>
          <li>Afficher la bonne image au bont moment: la luminosité varie chaque jour de quelques minutes, et ne pouvant pas prendre des photos tout les jours, cela nous améne au troisième poins; </li>
          <li>Récupérer les données du lever et coucher du soleil sur Metz pour afficher les images selons un pourcentage de luminosité plutôt qu'une heure.</li>
        </ul>
      </div>

    </div>


    <div class="texte">
      <p>
        Sur ça c'est greffé autre chose. La couverture prenant une place centrale sur le site et voulant être cohérent sur le design
        de celui-ci, j'ai donc utilisé la couleur "jaumont" pour les éléments important. Cette couleur vient de la pierre emblématique de Metz, pierre qui a été
        utilisé dans l'édification de la cathedrale. La couleur de celle-ci variant tout au long de la journée, le texte se dévait lui aussi de varier.
      </p>
    </div>
  </div>

  <!-- LISTE DES PHOTOS -->
  <div *ngFor="let photo of photos">
    <div class="projetPhotosDeCouverture_liste">
      <div class="projetPhotosDeCouverture_liste_details">
        <p>Photo prise le {{photo.date}} à {{photo.heure}}.</p>
        <!--<p>Couleur {{photo.couleur}}.</p>-->
      </div>

      <div class="projetPhotosDeCouverture_photo_boite">
        <img class="projetPhotosDeCouverture_photo" src="assets/images/couverture/{{photo.heure}}.png" />
      </div>
    </div>
  </div>
</section>
