/* PARTIE COMMUNE PROJETS */
#projetPhotosDeCouverture {
  font-size: 16px;
}

#projetPhotosDeCouverture_description {
  text-align: justify;
}

#projetPhotosDeCouverture_cadran {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#projetPhotosDeCouverture_horloge {
  width: 200px;
  height: 200px;
  /*border-radius: 50%;
  background: DodgerBlue;*/
}

.description_ligne_boite_texte {
  display: flex;
}

.boite_texte {
  align-self: center;
}

.testCadre_boite {
  width: 25%;
}

.boite_texte {
  width: 75%;
}

.projetPhotosDeCouverture_liste {
  display: flex;
  margin: 10px;
}



.projetPhotosDeCouverture_liste_details {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-self: center;

  width: 40%;
}

.projetPhotosDeCouverture_photo_boite {
  width: 60%;
}

.projetPhotosDeCouverture_photo {
  width: 100%;
}
